.header-container {
    height: 111px;
    width: 100%;
    background-color: #677424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.header-logo-btn {
    background: transparent;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header-title-link {
    font-size: 72px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


.header-title-link:hover {
    color: #ffffff;
    opacity: 0.8;
}

.header-right-side {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-nav-btn {
    padding: 6px 12px;
    border-radius: 20px;
    border: 3px solid #5A3E29;
    background-color: #ffffff;
    color: #5a3e29;
    cursor: pointer;
    width: 164px;
    height: 64px;
    box-sizing: border-box;
}

.header-nav-btn:hover {
    border-color: #40342B;
    background-color: #f0ece1;
    color: #40342B;
}

.header-login-btn {
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header-login-btn:hover {
    opacity: 0.8;
    color: white;
}

.header-register-btn {
    font-weight: bold;
    font-size: 20px;

    width: 125px;
    height: 64px;
    padding: 0 43px;
    margin-right: 43px;

    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;

    white-space: nowrap;
}

.header-register-btn:hover {
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.header-account-btn {
    background: transparent;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.header-adminpanel-btn {
    background: transparent;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    padding: 4px;
}
.header-auth-mode {
    padding: 0 40px 0 0;
}


